# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build directory
/build/*

# For Render deployment
!/build/opencamp-linux-amd64

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
Thumbs.db
npm-debug.log*
.vscode
